/***** BASE STYLES*****/

body {
    color: #2b2b2b;
	font-family: 'Source Sans Pro', sans-serif;
}

#about, #portfolio, #contact {
    height: 600px;
}

/***** GRID ******/

.full-width {
    margin: 0 auto;
    width: 1200px;
}

.half-width {
    float: left;
    width: 600px;
}

.third-width {
    float: left;
    width: 400px;
}

/***Header***/

header {
    background: url('../img/hero.png');
    background-size: cover;
    height: 800px;
}

header h1 {
    color: #bbc085;
    font-family: 'Lora', serif;
    font-size: 36px;
    padding: 65px 0 65px 25px;
}

nav {
    float: right; 
    padding: 75px 25px;
}

nav ul li{
    display: inline-block;
}

nav ul li a {
    color: #828282;
    font-size: 18px;
    text-transform: uppercase;
    text-decoration: none;
    padding-left: 80px; 
}

header h2 {
    clear: both;
    color: #9b9b9b;  
    font-family: 'Lora', serif;
    font-size: 72px;
    line-height: 80px;
    padding: 20px 0 20px 25px;
    width: 1000px;
}

header h2 span {
    color: #2b2b2b;
}

/**About Me**/
/***combinaion select***/

#about .full-width {
    padding: 5px 0;
    font-family: 'Lora', serif;
}

#about h2 {
    font-family: 'Lora', serif;
    font-size: 36px;
    padding-left: 5px;
}
 
#about p {
    font-size: 21px;
    color: #7f7f7f;
    line-height: 40px;
    padding-left: 50px;
    padding-right: 50px;
}

/***Work Section***/

#portfolio {
    text-align: center;
    background-color: #f9ceb7;
}

#portfolio .full-width {
	padding: 115px 0;	
}

#portfolio img {
	padding-bottom: 30px;
}

#portfolio h3 {
    font-size: 24px;
    line-height: 32px;
    width: 190px;
    margin: 0 auto;
}
 
#portfolio p {
    font-family: 'Lora', serif;
    font-size: 18px;
    line-height: 30px;
    padding: 0 50px;
}

/**Contact**/

#contact {
	background-color: #ebebeb;
}

#contact .full-width {
    padding: 110px 0;
}

#contact img#contact-img {
    margin-left: 25px;
    border: 12px solid #ffffff;
}

#contact h2, #contact #email-header, #contact #socialmedia-header, #contact ul {
    padding-left: 115px;
}
#contact #envelope {
    padding: 0 10px 0 115px;
}
#contact h2 {
    font-family: 'Lora', serif;
    font-size: 36px;
    line-height: 44px;
}
#contact #email-header{
    font-size: 32px;
    font-weight: 400;
    line-height: 44px;
    margin: -30px 0 5px 0;
}
#contact #socialmedia-header {
    font-weight: bold;
    font-size: 29px;
    line-height: 44px;
    margin: 40px 0 0 0;
}
#contact a {
    text-decoration: none;
    color: #c49075;
    font-weight: bold;
    font-size: 28px;
}
#contact ul {
    list-style: none;
}
#contact ul li {
     display: inline-block;
}
#contact ul img {
    font-size: 32px;
    padding-right: 48px;
}
